<div class="container-tl">
  <div class="footer">
    <div id="logo-footer"></div> <br>
    <div class="row">
      <div class="col-pl-50">
        <a href="{{ site.baseurl }}/about.html">About</a> <br>
        <a href="{{ site.baseurl }}/useful-links.html">Useful Links</a> <br>
        <a href="{{ site.baseurl }}/contacts.html">Contacts</a>
      </div>
      <div class="col-pl-50">
        <a href="https://www.facebook.com/HyperVolatility-148139215232561/?fref=ts">Facebook</a> <br>
        <a href="https://twitter.com/vitoturitto" target="_blank">Twitter</a> <br>
        <a href="https://medium.com/hypervolatility" target="_blank">Medium</a>
      </div>
    </div>
    <div id="divider"></div>
    <p class="text-center">
      © All rights reserved - <a style="color:white" href="/legal-disclaimer.html">Legal Disclaimer</a>
    </p>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
<script src="{{ site.baseurl }}/js/app.min.js"></script>

<script>
  new Vivus('divider', {duration: 100, file: '{{ site.baseurl }}/img/divider.svg'});
  new Vivus('logo-footer', {duration: 100, file: '{{ site.baseurl }}/img/logo.svg'});
</script>